<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
	<!-- 추가 head 정보를 replace 할 위치 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/commons/common.css">
	<link rel="stylesheet" href="/css/admin/admin-layout.css">
</head>
<body id="layout-admin">
    <header>
   		<div class="wrap">
   			<ul>
   				<li>
   					<a href="/admin">
   						<img src="/image/logo/logo.png" style="width: 150px; border-bottom: 1px solid white;">
   					</a>
   				</li>
   			</ul>
   				<div style="text-align: center;">
   					<img src="/image/test/profiletest.jpeg" style="width: 120px; border-radius: 50%; padding-top: 10px;">
   					<!--접속한 사원의 이미지-->
   					<p>접속한사원의이름</p>
   					<p>사원번호</p>
   				</div>
   				<div style="text-align: center;">
   					<a href="/mypage/info/{mno}">내정보</a>
   					<a href="/login" style="font-size: 11px;">로그아웃</a>
				</div>
			<ul>
   				<li>
   					<dl>
   						<dt>인사관리</dt>
   						<dd><a href="/employee">사원정보관리</a></dd>
   						<dd><a href="/salary">급여관리</a></dd>
   					</dl>
   				</li>
   				<li>
   					<dl>
   						<dt>조직도</dt>
   						<dd><a href="/">사원정보</a></dd>
   					</dl>
   				</li>
   				<li>
   					<dl>
   						<dt>업무결재</dt>
   						<dd><a href="/">전자결재</a></dd>
   						<dd><a href="/">휴가및병가</a></dd>
   					</dl>
   				</li>
   				<li>
   					<dl>
   						<dt>스케쥴관리</dt>
   						<dd><a href="/">출/퇴근 관리</a></dd>
   						<dd><a href="/">휴가</a></dd>
   						<dd><a href="/">병가</a></dd>
   						<dd><a href="/">캘린더</a></dd>
   						
   					</dl>
   				</li>
   				<li>
   					<dl>
   						<dt>게시판 관리</dt>
   						<dd><a href="/">관리게시판</a></dd>
   						<dd><a href="/">문의게시판</a></dd>
   					</dl>
   				</li>
   			</ul>
   			<br>
   			<div style="text-align: center;">
   				<a href="/adminlist">관리자페이지</a>
   			</div>
   		</div>
   	</header>
</body>
</html>