<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
	<!-- 추가 head 정보를 replace 할 위치 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/common/common.css">
	<link rel="stylesheet" href="/css/admin/admin-layout.css">
</head>
<body id="layout-admin">
    <header>
   		<h1></h1>
   		<div class="wrap">
   			<ul>
   				<li>
   					<img src="/image/logo/logo.png" style="width: 150px;">
   				</li>
   				<li>
   					<dl>
   						<a href="/">마이페이지</a>
   					</dl>   				
   				</li>
   				<li>
   					<dl>
   						<dt>인사관리</dt>
   						<dd><a href="/">사원정보관리</a></dd>
   						<dd><a href="/">급여관리</a></dd>
   					</dl>
   				</li>
   				<li>
   					<dl>
   						<dt>조직도</dt>
   						<dd><a href="/">사원정보</a></dd>
   					</dl>
   				</li>
   				<li>
   					<dl>
   						<dt>업무결재</dt>
   						<dd><a href="/">전자결재</a></dd>
   						<dd><a href="/">휴가및병가</a></dd>
   					</dl>
   				</li>
   				<li>
   					<dl>
   						<dt>스케쥴관리</dt>
   						<dd><a href="/">출/퇴근 관리</a></dd>
   						<dd><a href="/">휴가</a></dd>
   						<dd><a href="/">병가</a></dd>
   						<dd><a href="/">캘린더</a></dd>
   						
   					</dl>
   				</li>
   				<li>
   					<dl>
   						<dt>게시판 관리</dt>
   						<dd><a href="/">관리게시판</a></dd>
   						<dd><a href="/">문의게시판</a></dd>
   					</dl>
   				</li>
   			</ul>
   		</div>
   	</header>
</body>
</html>