<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<head>
 	<th:block th:insert="~{admin/AdminLayout :: head}"/>
	<link rel="stylesheet" href="/css/default.css">
	<th:block th:insert="~{admin/AdminLayout :: header}"/>

	<script type="text/javascript">
	$(function(){
		$(".go").click(go);
		$(".off").click(off);
		var goTime = $(".goTime");
		var offTime= $(".offTime");
		
		commuteList();
		
		gotoworkcheck(goTime);
	});
	function commuteList(){
		$.ajax({
			url:"/member/commute/list",
			success:function(text){
				$(".commuteList").html(text);
			},
			error:function(){
				alert("list비정상작동");
			}
		});
	}
	function gotoworkcheck(target){
		var time= $(target).text();
		var gotoworkcheck = time.substr(0, 2);
		var today = new Date();
		var todate = ('0' + today.getDate()).slice(-2);
		if(todate!=gotoworkcheck){
			$(".goTime").text("출근시간");
			$(".offTime").text("퇴근시간");
		}
		endworkcheck();
	}
	//출근 버튼 누르면 출근시간 보여주고 db저장
	function go(){
		var goTime= $(".goTime").text();
		var offTime = $(".offTime2").text();
		var mno = $(".mno").val();
		if(goTime!=offTime){
			$.ajax({
				url:`/admin/commute/go/${mno}`,
				type:"post",
				success:function(olTag){
					$(".goTime").html(olTag);
					window.location.reload();
				},
				error:function(){
					alert("go error");
					
				}
			});
		}
		
	}
	//퇴근 버튼 누르면 출근시간 수정시간 보여주고 db업데이트
	function off(){
		var mno = $(".mno").val();
		alert("퇴근");
		$.ajax({
			url:`/admin/commute/off/${mno}`,
			type:"post",
			success:function(olTag){
				$(".offTime").html(olTag);
				window.location.reload();
			},
			error:function(){
				alert("off error");	
			}
		});
	}

	</script>

</head>
<body class="flex">
    <main>
    	<div class="wrap">
    		<input class="mno" type="hidden" th:value="${#authentication.principal.mno}">
    		<p>GreenGames의 관리페이지 입니다.</p>
    		<div class="flex"><!-- 네모네모 상자 -->
    			<div><!-- 출근 상자 -->
    				<button class="go">출근</button>
    			</div>
    			<div><!-- 퇴근 상자 -->
    				<button class="off">퇴근</button>
    			</div>
    		</div>
    	</div>
    	
    	<table>
			<thead>
				<tr>
					<td>이름</td>
					<td>날짜</td>
					<td>출근시간</td>
					<td>퇴근시간</td>
					<td>근무형태</td>
				</tr>				
			</thead>
			<tbody class="commuteList">
				
			</tbody>
		</table>
    </main>
</body>
</html>