<!DOCTYPE html>
<html>
	<tr th:each="lists : ${list}" th:if="${!#lists.isEmpty(list)}">
		<td th:text="${lists.name}">이름</td>
		<td th:text="${lists.today}">날짜</td>
		<td th:text="${lists.gTime}">출근시간</td>
	
		<td class="offTime2" th:if="${lists.oTime==lists.gTime}">퇴근시간</td>
		<td class="offTime2" th:text="${lists.oTime}"
			th:if="${lists.oTime!=lists.gTime}">퇴근시간</td>
	
		<td class="offTime3" th:text="${lists.cType}">근무형태</td>
	</tr>
	<tr th:if="${#lists.isEmpty(list)}">
		<td>값이 없습니다.</td>
	</tr>
	<div th:if="${p.getNumberOfElements()>0}">
		<a th:if="${p.hasPrevious()}"
			th:href="|/notice-boards?page=${p.getNumber()}|">&lt;</a> <span
			th:text="${p.getNumber()+1}">현재페이지</span> / <span
			th:text="${p.getTotalPages()}">총페이지수</span> <a th:if="${p.hasNext()}"
			th:href="|/notice-boards?page=${p.getNumber()+2}|">&gt;</a>
	</div>
</html>