<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{admin/AdminLayout :: head}" />
<th:block th:insert="~{admin/AdminLayout :: header}" />
<link rel="stylesheet" href="/css/member/employee_list.css">
<script type="text/javascript">
	$(function (){
		employeeList($(".gnb"));
	});
	function employeeList(target){
		var parentDno = $(target).attr("value");
		console.log(parentDno);
		$.ajax({
			url:`/employee/${parentDno}`,
			success:function(olTag){
				$(target).children(".cate-wrap").html(olTag);
				var sub=$(target).find(".cate");
				$.each(sub, subCategory);
			},
			error:function(){
				alert("실패");
			}
		});
		
	}
	function subCategory(){
		employeeList($(this));
	}
</script>
</head>
<body class="flex">
	<main>	
		<div class="wrap">
		<p>조직도</p>
			<ol class="flex">
				<li value="0" class="gnb cate">
					<div class="cate-wrap entry">
						<!-- 카테고리 출력 장소 -->
					</div>
				</li>
			</ol>
		</div>
	</main>
</body>
</html>