<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<head>
 	<th:block th:insert="~{admin/AdminLayout :: head}"/>
	<link rel="stylesheet" href="/css/default.css">
	<th:block th:insert="~{admin/AdminLayout :: header}"/>
	<script src="/css/member/slick.js" type="text/javascript" charset="utf-8"></script>
	
</head>
<body class="flex">
    <main>
	    <div>
	    	<div class="wrap">
	    		<div class="wrap-title">
	    			<h1>
	    				<strong>접속한 회원의 이름</strong>
	    				"님 어서오세요."
	    			</h1>
	    		</div>
	    		<div>
	    			<img src="/image/test/profiletest.jpeg"style="margin-left:30px; float: left;">
	    			<p>이름</p>
	    			<p>사원번호</p>
	    			<p>전화번호</p>
	    			<p>이메일</p>
	    			<p>회원의 직책</p>
	    			<p>오늘의 날짜</p>
	    		</div>
	    	</div>
		    	<div class="wrap">
				<section>
					<div class="main">
						<div class="visual2">			
							<button>스케쥴관리</button>
							<button>근태관리</button>
							<button>급여</button>
						</div>
					</div>
				</section>
			</div>
		</div>
    </main>
</body>
</html>