<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
 	<th:block th:insert="~{admin/AdminLayout :: head}"/>
	<link rel="stylesheet" href="/css/default.css">
	<th:block th:insert="~{admin/AdminLayout :: header}"/>
	<link rel="stylesheet" href="/css/member/mypage.css">
	
</head>
<body class="flex">
    <main>
	    <div>
	    	<div class="mypage">
	    		<div class="mypage-info" style="top: 100px; position: relative;">
	    			<div class="mypage-img">
	    				<img align="left" th:if="${#strings.isEmpty(detail.profileUrl)}" src="/image/test/profiletest.jpeg">
					 	<img align="left" th:if="${!#strings.isEmpty(detail.profileUrl)}" th:src="${detail.profileUrl}">
	    			</div>
	    			<br>
	    			<div class="member-info">
	    				<form>
	    					<ul>
	    						<li>
	    							<label for="name">이름 -</label>
	    							<span>[[${detail.name}]]</span>
	    						</li>
	    						<li>
	    							<label for="mno">사번 -</label>
	    							<span>[[${detail.mno}]]</span>
	    						</li>
	    						<li>
	    							<label for="phone">전화번호 -</label>
	    							<span>[[${detail.phone}]]</span>
	    							
	    						</li>
	    						<li>
	    							<label for="id">id=email -</label>
	    							<span>[[${detail.id}]]</span>
	    							
	    						</li>
	    						<li>
	    							<label for="ran">직책 -</label>
	    							<span>[[${detail.pname}]]</span>
	    						</li>
	    					</ul>
	    				</form>
	    				<div>
	    				<form th:action="|/salary/department/${detail.mno}|" method="post">
		    				<select name="dno">
		    				<th:block th:each="department:${department}">
		    					<option th:value="${department.dno}">[[${department.dname}]]</option>
		    					</th:block>
		    				</select>
		    				<select name="pno">
		    				<th:block th:each="position:${position}">
		    					<option th:value="${position.pno}">[[${position.pName}]]</option>
		    					</th:block>
		    				</select>
		    				<button>등록</button>
		    				
		    				</form>
		    			</div>
		    		</div>
	    		</div>
	    	</div>
		</div>
		<div class="salary-info" style="top: 100px; position: relative;">
		<p>해당직원 급여 정보 및 관리</p>
			<table>
				<thead>
				<!-- thymleaf사용 -->
					<tr class="salary-info-1">
						<td>[[${detail.mno}]]</td>
						<td>[[${detail.name}]]</td>
						<td>[[${detail.pname}]]</td>
						<td>[[${detail.normalSalary}]]</td>
						<td>변동금액</td>
						<td>이번 달 급여</td>
					</tr>
				</thead>
				<!-- <tbody>
					<tr>
						<td>사번</td>
						<td>이름</td>
						<td>직책</td>
						<td>기본급여</td>
						<td>변동금액</td>
						<td>이번 달 급여</td>
					</tr>
				</tbody> -->
			</table>
		</div>
    </main>
</body>
</html>