<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<head>
 	<th:block th:insert="~{admin/AdminLayout :: head}"/>
	<link rel="stylesheet" href="/css/default.css">
	<th:block th:insert="~{admin/AdminLayout :: header}"/>
	<link rel="stylesheet" href="/css/member/mypage.css">
</head>
<body class="flex">
    <main>
	    <div>
	    	<div class="mypage">
	    		<div class="wrap-title">
	    			<h2 class="mypage-title">
	    				급여관리 리스트
	    			</h2>
	    		</div>
	    	</div>
	    	<div>
	    		
	    	</div>
	    </div>
    </main>
</body>
</html>