@charset "UTF-8";


header>.wrap{
	background-color: #464964;
	color: #fff;
	padding: 10px 20px;
	height: 100vh;
}
header>.wrap a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

header>.wrap ul{
	padding: 0;
}
header>.wrap ul>li{
	margin-top: 20px;
	list-style: none;
}

header>.wrap ul>li dl>dt{
	font-weight: 700;
	color:  rgba(255, 255, 255, 60%);
	border-bottom: 0.5px solid rgba(255, 255, 255, 100%);
	padding: 0.5em 0;
}
header>.wrap ul>li dl>dd{
	font-size: 14px;
	padding: 0.3em 0 0.3em 20px;
	font-style: normal;
	padding-top: 7px;
}
header>.wrap ul>li dl>dd>a{
	text-decoration-line: none;	
}
main>.wrap{
	padding-top: 30px;
	padding-left: 20px;
}