<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{admin/AdminLayout :: head}" />
<link rel="stylesheet" href="/css/admin/main.css">
<script src='/js/main.js'></script>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');
		var calendar = new FullCalendar.Calendar(calendarEl, {
			headerToolbar : {
				left : 'prev,next today',
				center : 'title',
				right : 'dayGridMonth,timeGridWeek,timeGridDay'
			},
			initialDate : '2023-01-10', 
			navLinks : true, 
			selectable : true,
			selectMirror : true,
			select : function(arg) {
				console.log(arg);

				var title = prompt('입력할 일정:');
				if (title) {
					calendar.addEvent({
						title : title,
						start : arg.start,
						end : arg.end,
						allDay : arg.allDay,
						backgroundColor : "#009900",
						textColor : "white"
					})
				}
				calendar.unselect()
			},
			eventClick : function(arg) {
				console.log("#등록된 일정 클릭#");
				console.log(arg.event);

				if (confirm('일정을 지우시겠습니까?')) {
					arg.event.remove()
				}
			},
			editable : true,
			dayMaxEvents : true, 
	
		});
		calendar.render();
	});
</script>


</head>
<body class="flex">
	<th:block th:insert="~{admin/AdminLayout :: header}" />
	<div style="width: 1000px; height: 1000px; margin: auto; position: relative; top: 90px;">
		<div id='calendar'></div>
	</div>

</body>
</html>