<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<head>
 	<th:block th:insert="~{admin/AdminLayout :: head}"/>
 	<link rel="stylesheet" href="/css/department/departmentList.css">
	<script type="text/javascript">
    	//var left=0;
    	$(function(){
    		createCategory($(".gnb"));
    	});
    	function cateShow(){
    		alert("이벤트");
    		$("cate-2").css("display","block");
    	}
    	function createCategory(target){
    		var parentDno=$(target).attr("value");
    		console.log("parentDno:"+parentDno);
    		$.ajax({
    			url:`/admin/departmentsList/${parentDno}`,
    			success:function(olTag){
    				$(target).children(".cate-wrap").html(olTag);
    				var sub=$(target).find(".cate");
    				$.each(sub, subCategory);
    			},
    			error:function(){
    				alert("실패");	
    			}
    		});
    	}
    	function subCategory(){
    		createCategory($(this));
    	}
    </script>
</head>
<body class="flex">
    <th:block th:insert="~{admin/AdminLayout :: header}"/>
    <main>
	<h1>메인컨텐츠</h1>
	<div class="wrap">
		<span>조직도</span>
		<ul class="flex">
			<li value="0" class="gnb cate">
				<div class="cate-wrap">
					
				</div>
			</li>
		</ul>
	</div>
</main>
</body>
</html>