@charset "UTF-8";
.mypage-title{
	position: relative;
	
}

.mypage{
	width: 1050px;
	height: auto;
	margin: 5%;
}

.mypage-title{
	position: relative;
	left: 190px;
}
.mypage-addr>li{
	list-style: none;
}
.mypage-info{
	border: 1px solid black;
	width: auto;
	max-width: 700px;
	height: 420px;
	border-radius: 30px;
	position: relative;
	top: -650px;
}
.member-info>p{
	font-size: 15px;
	margin-top: 15px;
}
.mypage-img{
	width: 100%;
}
.mypage-img >img{
	width: 120px;
	height :150px;
	margin: 15px;
	border-radius: 60%;
	margin-top: 10%;
	margin-bottom: 200px;
}
.main-btn{
	width: 1050px;
	height: auto;
	margin: 10%;
}
.member-info{
	margin-top: 45px;
}
.approval-1{
	margin:5% 12% 5% 12%;
	position: relative;
	top: -770px;
	left: -120px;
}
.approval-2{
	width: auto;
}

.approval-3{
	border: 3px solid #a9a9a9;
	margin: 5%;
	border-radius: 10px;
}
.approval-3 p{
	border-bottom: 1px solid #a9a9a9;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.approval-3 >.text-link{
	text-align: center;
	height: auto;
}

.salary-info{
	border: 3px solid #a9a9a9;
	width: 700px;
	margin:5% 5% 5% 5%;
	text-align: center;
	position: relative;
	top: -500px;
}
.salary-info p{
	border-bottom: 1px solid #a9a9a9;
}
.salary-info td{
	width: 130px;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid #a9a9a9;
	text-align: left;
}
